html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/Roboto-Regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("assets/Roboto-Light-webfont.woff") format("woff");
}
